body {
  overflow-x: hidden;
}

.nav {
  background-color: #21283B;
  }

#basic-navbar-nav div a.navbar-brand.nav-link {
  color: white;
  text-decoration: none;
}

#basic-navbar-nav div a.nav-link.disabled {
  color: rgba(200,200,200,1);
}

#basic-navbar-nav div a.navbar-brand.nav-link:hover {
  color: rgba(220,220,220,1);
  text-decoration: none;
}

.active{
  font-weight: bold;
}

/* Hamburger Menu changes start */
Nav.mr-auto {
    padding-left: 2.8vw;
    width: 10vw;
    background-color: #21283B;
}

/* .collapse.show {
  margin-left:72%;
} */

.fixed-top {
  height: 10vh;
}

/* .custom-toggler.navbar-toggler {
    border-color: rgb(230,240,239);
    margin-left: 90%;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(230,240,239, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
} */
/* Hamburger changes end */

.footer-text {
  color: white;
}

.logo-container {
  width: 13vh;
  height: 13vh;
  background-color: white;
  border: 1px solid black;
  position: absolute;
  top: 0;
  left: 3vw;
}

.logo-container > img {
  width: 100%;
  height: 100%;
  position: relative;
}
.collapse {
  padding-left: 11vw;
}

button.navbar-toggler {
  margin-left: 90% !important;
  color: white !important;
}

#basic-navbar-nav.navbar-collapse.collapse.show {
  padding-left: 7%;
  border-radius: 10px;
  margin-left: 73% !important;
  background-color: #21283B !important;
}
