/* .card-container {
  width: 14.5vw;
} */

.shop-container {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  margin-top: 15vh;
  width: 100vw !important;
}

.card {
  min-width: 350px !important;
  max-width: 380px !important;
  border: none !important;
  height: 300px !important;
  display: inline-block !important;
  margin: 5vmin 1vmin !important;
}

.hov:hover {
  transition-timing-function: linear;
  transition: 0.4s;
  transform: translateY(-3%);
}

.card-body {
  min-width: 350px !important;
  max-width: 380px !important;
  padding: 0 !important;
  border: 1px solid lightgray !important;
  border-radius: 5px !important;
  text-align: center !important;
  -webkit-box-shadow: 1px 1px 7px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 7px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 7px -1px rgba(0, 0, 0, 0.75);
}

.card-body .card-subtitle {
  margin-top: 10px !important;
}

.product-img {
  display: block;
  margin: 25px auto;
  width: 100%;
}
/*
.card-title {
  margin-top: 16vh;
  font-size: 80%;
  color: #4e6471;
} */

.card-img-top {
  max-height: 350px;
}

.card-subtitle {
  color: #4e6471;
  margin-top: 10px;
}

.card button {
  display: block;
  margin: 25px auto;
  width: 80%;
  border-color: #4e6471;
  background-color: #4e6471;
}
.card button:hover {
  border-color: #5e7784;
  background-color: #5e7784;
}

.card button:active {
  border-color: #5e7784 !important;
  background-color: #5e7784 !important;
}

.card button:focus {
  box-shadow: 0 0 0 0.2rem rgba(78, 100, 113, 0.7);
}
