* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0;
  padding: 0;
  max-width: 100vw;
}

.row {
  margin-top: 75px;
}

.banner-img-container {
  margin-top: 8vh;
  position: relative;
  overflow: hidden;
}

.top-margin-lg {
  margin-top: 100px;
}

.top-margin-sm {
  margin-top: 25px;
  visibility: visible;
}

.featured-products-row {
  text-align: center;
  padding: 1vh 0 1vh 40vw;
}

.featured-text, .featured-shop-all {
  text-align: center;
  display: inline-block;
  color: #4e6471;
}

.featured-shop-all {
  font-size: small;
  margin-top: 3vh;
  margin-left: 26vw;
  text-decoration: underline;
}

.carousel-control-prev-icon {

}

.featured-control-prev {
  width: 7vw;
}


.carousel-control-next-icon {

}
.featured-control-next {
  width: 7vw;
}


.contact-carousel-container {
  margin-top: 3vh;
}

/* farthest right hidden item must be absolute position for animations */
.carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
}
